
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('wetaher.webp') no-repeat center center fixed;
    background-size: cover;
}
.container {
    text-align: center;
    background: rgba(95, 94, 94, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 350px;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: aliceblue;
}
input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    background: #00ff51;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #68b300;
}
.info-box {
    background: rgb(223, 249, 248);
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
#map {
    height: 250px;
    margin-top: 10px;
    border-radius: 5px;
}